 <div class="user-details">
  <h1> Our Sponsors </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-github-plain-wordmark"></i>
      <i class="devicon-google-plain-wordmark"></i>
      <i class="devicon-javascript-plain"></i>
      <p><br>Thanks for the free hosting and codes. Tutorials was great and made everything easy.</p>
    </div>
    <div class="tech">
      <h2>Support</h2>
      <i class="icon fa fa-book"><a href="https://www.fifthpillarbooks.com/"><p>Fifth Pillar Books</p></a></i>
      <i class="icon fa fa-codepen"><a href="https://github.com/nrandecker"><p>N.Randecker</p></a></i>
      <i class="devicon"></i>
      <p>Would be complete without them too. Our appreciation!</p>
    </div>
   <div class="tech">
      <h2>Donate</h2>
      <i class="devicon fa fa-bitcoin"></i>
      <i class="devicon fa fa-paypal"></i>
      <i class="devicon"></i>
     <p><br>Show some love brother! Your donation will go a long way.</p>
    </div>
</div>
