<div class="user-details">
  <h1> About Us </h1>
  <p> {{site.user_description}} </p>
</div>


<div class="user-details">
  <p>We are a local business with family members as mapower. All learning the ropes but with objectives to make it good in the business we are in right now. With corporate background and discipline, good service and quality output is expected from each member
    of our TEAM.</p>
</div>


<div class="user">
  <div class="tech">
    <h2>Log In</h2>
    <script async src="https://telegram.org/js/telegram-widget.js?4" data-telegram-login="ToproSecureBot" data-size="large" data-onauth="onTelegramAuth(user)" data-request-access="write"></script>
    <script type="text/javascript">
      function onTelegramAuth(user) {
        alert('Logged in as ' + user.first_name + ' ' + user.last_name + ' (' + user.id + (user.username ? ', @' + user.username : '') + ')');
      }

    </script>
    <p><br>Log In and let us know you were here!Disconnect anytime.</p>
  </div>



  <div class="tech">
    <h2>Channels</h2>
    <i class="icon fa fa-telegram"><a href="https://t.me/toprocars" style="text-decoration:none;color: #555;"><p>@ToproCars</p></a></i>
    <i class="icon fa fa-telegram"><a href="https://t.me/toprobikes" style="text-decoration:none;color: #555;"><p>@ToproBikes</p></a></i>
    <p>Our Channels. Check it out if you love Cars and Bikes</p>
  </div>

  <div class="tech">
    <h2>Sponsor</h2>
    <i class="icon fa fa-medkit"><a href="https://www.fifthpillarbooks.com/" style="text-decoration:none;color: #555;"><p>Fifth Pillar Books</p></a></i>
    <p>Yep. We have a sponsor. Our appreciation!</p>
  </div>

//Telegram Chat
  <script>
    window.intergramId = "364638797";
    window.intergramCustomizations = {
      titleClosed: 'Closed chat title',
      titleOpen: 'Opened chat title',
      introMessage: 'Hi. Welcome to Topro. We expect your message',
      autoResponse: 'Rest assured your message will be read and answered.',
      autoNoResponse: 'Maybe im in a middle of something that im not able to reply to you. But i will surely do. Leave me your Telegram username and will get back to you.',
      mainColor: "#1a222c", // Can be any css supported color 'red', 'rgb(255,87,34)', etc
      alwaysUseFloatingButton: false // Use the mobile floating button also on large screens
    };

  </script>
  <script id="intergram" type="text/javascript" src="https://www.intergram.xyz/js/widget.js"></script>
//Telegram Chat






</div>
