<footer class="footer">
    <p>&copy; {{site.username}}</p>
    <p>Made with <span class="love">❤</span> in <a href="https://goo.gl/maps/EK5RXNFGifw"><i class="icon fa fa-map-marker"></i> Minglanilla, Cebu, PH</a></p>
    <p><i class="icon fa fa-phone-volume"></i><a href="tel:1-408-555-5555">Call Us +63-949-997-5880</a> or <a href="sms:1-408-555-1212">New SMS Message</a></p>

</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
