<footer class="footer">
    <p>&copy; {{site.username}}</p>
    <p>Made with <span class="love">❤</span> in <a href="https://goo.gl/maps/EK5RXNFGifw"><i class="icon fa fa-map-marker"></i> Minglanilla, Cebu, PH</a></p>
    <p><a href="tel:63-917-949-9975880"><i class="fas fa-phone-volume"></i> Call Us.</a> <a href="sms:1-408-555-1212"><i class="fas fa-mobile"></i> Message Us.</a></p>

</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
