<div id="particles-js">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MSPGD68"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:support@topro.business"><i class="icon fa fa-envelope-open"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/Topro_Updates"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Google Plus" target="_blank" href="#"><i class="icon fa fa-google-plus-official" aria-hidden="true"></i></a>
        <a aria-label="My Whatsapp" target="_blank" href="https://goo.gl/Y3sNu3"><i class="icon fa fa-whatsapp" aria-hidden="true"></i></a>
        <a aria-label="My Telegram" target="_blank" href="https://t.me/topro"><i class="icon fa fa-telegram" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Us</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
