<div class="user-details">
  <h1> Our Projects </h1>
  <p> {{site.user_description}} </p>
</div>


<div class="user">
    <div class="tech">
      <h2>Log In</h2>
      <script async src="https://telegram.org/js/telegram-widget.js?4" data-telegram-login="ToproSecureBot" data-size="large" data-onauth="onTelegramAuth(user)" data-request-access="write"></script>
        <script type="text/javascript">
            function onTelegramAuth(user) {
                alert('Logged in as ' + user.first_name + ' ' + user.last_name + ' (' + user.id + (user.username ? ', @' + user.username : '') + ')');
            }
      </script>
      <p><br>Log In and let us know you were here.</p>
    </div>

<div class="tech">
      <h2>Our Channels</h2>
      <i class="icon fa fa-telegram"><a href="https://t.me/toprocars" style="text-decoration:none;color: #555;"><p>Topro Cars</p></a></i>
      <i class="icon fa fa-telegram"><a href="https://t.me/toprobikes" style="text-decoration:none;color: #555;"><p>Topro Bikes</p></a></i>
      <i class="devicon"></i>
      <p>Visit our Channels.</p>
    </div>

  
